.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.laranja {
  background: var(--gradient-1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 500;
}
.amarelo {
  background: var(--gradient-2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 500;
}

.verde {
  background: var(--gradient-3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 500;
}
.azul {
  background: var(--gradient-4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 500;
}
.roxo {
  background: var(--gradient-5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 500;
}

.subtitulo {
  font-weight: 300;
  font-style: italic;
  font-size: 1.4rem;
  text-align: center;
  color: var(--gray-5);
}
